h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  
}

.timeLapsed{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.button-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button-container button {
  margin-top: 20px;
  padding: 10px 20px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
